.header {
	padding: 10px 0;

	border-bottom: 1px solid var(--grey-01);

	&__body,
	&__link-list,
	&__add-btn {
		display: flex;
		align-items: center;
	}

	&__body {
		justify-content: space-between;
		max-width: 1470px;
		padding: 0 15px;
		margin: 0 auto;
	}

	&__logo {
		font-size: 22px;
	}

	&__link {
		display: inline-block;
		margin: 0 5px 0 0;
		font-size: 18px;
		color: var(--black);
		border: 1px solid transparent;
		border-radius: 5px;
		padding: 5px;

		&:last-child {
			margin: 0;
		}

		&.active {
			background: var(--blue);
			color: var(--white);
		}
	}

	&__add-btn {
		font-size: 40px;
		width: 50px;
		height: 50px;
		border: 1px solid transparent;
		border-radius: 10px;
		border: 2px solid transparent;
		justify-content: center;

		&::before {
			content: '';
			display: inline-block;
			width: 24px;
			height: 24px;
			background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 4C12.5523 4 13 4.44772 13 5V11H19C19.5523 11 20 11.4477 20 12C20 12.5523 19.5523 13 19 13H13V19C13 19.5523 12.5523 20 12 20C11.4477 20 11 19.5523 11 19V13H5C4.44772 13 4 12.5523 4 12C4 11.4477 4.44772 11 5 11H11V5C11 4.44772 11.4477 4 12 4Z"/></svg>');
			background-repeat: no-repeat;
			background-size: contain;
			transition: all 0.2s;
		}

		&:hover {
			border-color: var(--green);
			color: var(--white);
			box-shadow: 0 0 5px var(--green);

			&::before {
				opacity: 0.7;
				transform: rotate(90deg);
			}
		}
	}
}
