:root {
	--black: #1a1d1f;
	--white: #fff;
	--white-08: rgba(255, 255, 255, 0.8);
	--dark-grey: #33383f;
	--grey: #6f767e;
	--grey-03: rgba(111, 118, 126, 0.3);
	--grey-01: rgba(111, 118, 126, 0.1);
	--blue: #2a85ff;
	--red: #ff6a55;
	--green: #83bf6e;
	--light-green: #e6f5e0;
	--yellow: rgb(248, 248, 232);
	--yellow-05: rgba(248, 248, 183, 0.5)
	--light-blue: #55a3ff;
}