.main {
	flex: 1 1 auto;

	&__body {
		display: grid;
		grid-template-columns: 250px 1fr;
	}

	&__content {
		padding: 40px 20px;
	}

	@media (max-width: 1023px) {
		&__body {
			grid-template-columns: 170px 1fr;
		}

		&__content {
			padding: 40px 0 0 10px;
		}
	}

	@media (max-width: 767px) {
		&__body {
			display: block;
		}

		&__content {
			padding: 20px 0;
		}
	}
}
